<article class="pl3 pr3">
  <h1 class="f3 mb0"><%- page.title.toUpperCase() %></h1>
  <% if (is_post()) { %>
    <span class="f6 blue"><%- date(page.updated_at, 'YYYY-MM-DD HH:mm:ss dddd') %></span>
  <% } %>
  <div class="article-body"><%- page.content %></div>
  <% if (is_post()) { %>
    <%- partial("_partial/recommends") %>
    <a href="https://twitter.com/intent/tweet?text=<%= page.title + "%20|%20" + config.title %>&url=<%= page.url  %>" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <% } %>
</article>
