<header>
  <div class="tc pv4">
    <%- image_tag("images/profile.png",{class:"pa1 h3 w3", alt:"avatar"}) %>
    <img src="<%= config.url %>/images/<%= config.author_icon %>"">
    <h1 class="f5 f4-ns fw6 mid-gray"><%= config.title %></h1>
    <h2 class="f6 gray fw2 ttu tracked"><%= config.subtitle %></h2>
  </div>
</header>
