<meta charset="utf-8">
<title><%= config.title %></title>
<link href="<%- config.url %>/css/style.css" rel="stylesheet" type="text/css" />
<link href="<%- config.url %>/css/agate.css" rel="stylesheet" type="text/css" />
<script src="<%- config.url %>/js/highlight.pack.js"></script>
<script src="<%- config.url %>/js/script.js"></script>