<!doctype>
<html lang="ja">
  <%- partial("_partial/head") %>
<body class="background courier">
  <%- partial("_partial/header") %>
  <%- partial("_partial/navigation") %>
  <%- body %>
  <%- partial("_partial/footer") %>
</body>
</html>