<!doctype>
<html lang="ja">
  <%- partial("_partial/head") %>
<body class="background courier">
  <%- partial("_partial/header") %>
  <%- partial("_partial/navigation") %>
  <main class="mw7 pl3 pr3 pb3 mb3 center"><%- body %></main>
  <%- partial("_partial/footer") %>
</body>
</html>